<%- include('partials/skull') -%>

<h1>sign in form</h1>
<br />
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="login" />
</form>
