<%- include('partials/skull') -%>
<h1>sign up form</h1>
<br />
<form method="POST" action="/register">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <input type="submit" value="register" />
</form>
